{% extends 'base.html' %}
{% load static %}

{% block title %}
    Django Blog - Posts
{% endblock title %}

{% block content %}
<div class="page-body">
    <div class="container">
      <!-- Card -->
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4 card-image" style="background-image: url('#');"></div>
          <div class="col-md-8">
            <div class="card-body">
              <a href="#">
                <h5 class="card-title">Title</h5>
              </a>
              <p class="card-text">Details</p>
              <p class="card-text"><small class="text-muted">Time</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
    
