{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ post.title }}
{% endblock title %}

{% block content %}
<div class="page-body">
    <div class="container">
      <!-- Card -->
      <div class="card mb-3">
        <div class="row no-gutters image-card">
          <div class="col-12 card-image" style="background-image: url('{{ post.image.url }}');"></div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="card-body center">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text"><small class="text-muted">{{ post.created_on }}</small></p>
              <p class="card-text left">{{ post.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}
    
